from random import randint

#Tablero
tablero=[]

for i in range(0,10):
    tablero.append(['0']*10)

def print_tablero(tablero):
    for i in tablero:
        print ' '.join(i)

print_tablero(tablero)

#Datos de Barcos
def random_fila(tablero):
    return randint(0,len(tablero)-1)

def random_columna(tablero):
    return randint(0,len(tablero[0])-1)

barco_fila=random_fila(tablero)
barco_columna=random_columna(tablero)

#Colocar Turnos
#Turno de Jugador sera Turno Par
#Turno de PC sera Turno Impar


fila= int(input('Fila: '))-1
columna=int(input('Columna: '))-1

if fila==barco_fila and columna==barco_columna:
    print('Le diste a mi barco!')
    tablero[fila][columna]= 'X'
    print_tablero(tablero)
else:
    if fila>10 or columna>10:
        while fila>10 or columna>10:
            print('La coordenada ingresada esta fuera de limites.')
            print('Por favor ingresa una coordenada apropiada.')
            fila= int(input('Fila: '))-1
            columna=int(input('Columna: '))-1
        if fila==barco_fila and columna==barco_columna:
            print('Le diste a mi barco!')
            tablero[fila][columna]= 'X'
            print_tablero(tablero)
        else:
            print('Has fallado!')
            tablero[fila][columna]= '-'
            print_tablero(tablero)
    elif tablero[fila][columna]== '-':
        while tablero[fila][columna]== '-':
            print('Ya le has disparado a la coordenada elegida.')
            print('Por favor ingresa una coordenada apropiada.')
            fila= int(input('Fila: '))-1
            columna=int(input('Columna: '))-1
        if fila==barco_fila and columna==barco_columna:
            print('Le diste a mi barco!')
            tablero[fila][columna]= 'X'
            print_tablero(tablero)
        else:
            print('Has fallado!')
            tablero[fila][columna]= '-'
            print_tablero(tablero)
    else:
        print('Has fallado!')
        tablero[fila][columna]= '-'
        print_tablero(tablero)
